@use 'sass:map';
@use 'sass:list';

@function get-variation($map, $key) {
    $inner-map: map.get($map, $key);
    $result: ();
    @each $inner-key, $value in $inner-map {
        $result: list.append($result, "#{$inner-key} #{$value}", 'comma');
    }
    @return $result;
}

@font-face {
  font-family: 'Workbench';
  src: url('../fonts/Workbench.ttf');
}

$font-variations-workbench: (
  overexposed: ("SCAN": 67, "BLED": 0),
  overlapping: ("SCAN": 37, "BLED": 0),
  touching: ("SCAN": 21, "BLED": 0),
  close: ("SCAN": 0, "BLED": 0),
  evenly: ("SCAN": -27, "BLED": 0),
  slight: ("SCAN": -45, "BLED": 0),
  delicate: ("SCAN": -53, "BLED": 0),
  );

@mixin font-variations-workbench($name) {
  font-variation-settings: get-variation($font-variations-workbench, $name);
}

@font-face {
  font-family: 'VT323';
  src: url('../fonts/VT323.ttf');
}

@font-face {
  font-family: 'Tagesschrift';
  src: url('../fonts/Tagesschrift.ttf');
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
}

@font-face {
  font-family: 'Charis_SIL';
  src: url('../fonts/CharisSIL-Regular.ttf');
}
@font-face {
    font-family: 'Charis_SIL_Bold';
    src: url('../fonts/CharisSIL-Bold.ttf');
}
// Typography - font families
$fonts: (
  display: ('Workbench', sans-serif),
  body: ('Charis_SIL', serif),
  mono: ('VT323', monospace)
);